.transition {
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.btn {
	@extend .transition;
	background: $blue;
	color: #fff;
	padding: 15px 15px 10px 15px;
	text-transform: uppercase;
	border: 1px solid #fff;
	font-size: 18px;
	font-family: $typewriterFont;
	letter-spacing: 2px;
	&:focus {
		outline: 0;
	}
	&:hover {
		background-color: #000;
	}
}